<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicInfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>男儿当自强</string>
			<key>pic</key>
			<string>男儿当自强.jpg</string>
			<key>singerName</key>
			<string>林子祥</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一剪梅</string>
			<key>pic</key>
			<string>一剪梅.jpg</string>
			<key>singerName</key>
			<string>费玉清</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小三前传</string>
			<key>pic</key>
			<string>小三前传.jpg</string>
			<key>singerName</key>
			<string>冷漠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>新贵妃醉酒</string>
			<key>pic</key>
			<string>新贵妃醉酒.jpg</string>
			<key>singerName</key>
			<string>李玉刚</string>
		</dict>
		<dict>
			<key>name</key>
			<string>菱花镜</string>
			<key>pic</key>
			<string>菱花镜.jpg</string>
			<key>singerName</key>
			<string>李悦君</string>
		</dict>
		<dict>
			<key>name</key>
			<string>想你想你</string>
			<key>pic</key>
			<string>想你想你.jpg</string>
			<key>singerName</key>
			<string>王欣婷</string>
		</dict>
		<dict>
			<key>name</key>
			<string>做我老婆好不好</string>
			<key>pic</key>
			<string>做我老婆好不好.jpg</string>
			<key>singerName</key>
			<string>徐誉滕</string>
		</dict>
		<dict>
			<key>name</key>
			<string>我们好像在哪见过</string>
			<key>pic</key>
			<string>我们好像在哪见过.jpg</string>
			<key>singerName</key>
			<string>杨宗纬&amp;叶蓓</string>
		</dict>
		<dict>
			<key>name</key>
			<string>擦肩而过</string>
			<key>pic</key>
			<string>擦肩而过.jpg</string>
			<key>singerName</key>
			<string>宇桐非</string>
		</dict>
		<dict>
			<key>name</key>
			<string>觉悟</string>
			<key>pic</key>
			<string>觉悟.jpg</string>
			<key>singerName</key>
			<string>袁姗姗</string>
		</dict>
	</array>
</dict>
</plist>
